// Font stacks
$sym-font-thin: "Roboto-Thin", Helvetica, Arial, sans-serif;
$sym-font-light: "Roboto-Light", Helvetica, Arial, sans-serif;
$sym-font-normal: "Roboto", Helvetica, Arial, sans-serif;

// Colors
$brandGrey: #555555;
$brandBlue: #44b3dd;
$brandGreen: #66bb66;
$brandYellow: #f7bb00;
$brandMagenta: #ee5577;
$brandGreyDark: #333333;
$brandBlueDark: #00557f;
$brandGreenDark: #226622;
$brandYellowDark: #915500;
$brandMagentaDark: #912244;
$brandNewBlue: #29B6F6;

// Hero height at respective breakpoints
$hero-home-height-xs: 440px;
$hero-home-height-sm: 480px;
$hero-home-height-lg: 580px;
$hero-height-xs: 260px;
$hero-height-sm: 280px;
$hero-height-md: 300px;
$hero-height-lg: 320px;

// Whitespace
$sym-whitespace-base: 12px;
$sym-whitespace-xxs: $sym-whitespace-base;
$sym-whitespace-xs: ceil(($sym-whitespace-base * 2)); // 24px
$sym-whitespace-sm: ceil(($sym-whitespace-base * 4)); // 48px
$sym-whitespace: ceil(($sym-whitespace-base * 5)); // 60px
$sym-whitespace-md: ceil(($sym-whitespace-base * 8)); // 96px
$sym-whitespace-lg: ceil(($sym-whitespace-base * 10)); // 120px

// Row Widths
$sym-row-width-sm: 738px;
$sym-row-width-md: 920px;
$sym-row-width-lg: 1170px;