
// Variables
@import "variables";

// Bootstrap Variables
@import "bootstrap-variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// SpinKit
$spinkit-spinner-margin: 0 auto;
$spinkit-spinner-color: #ddd;
@import "~spinkit/scss/spinners/7-three-bounce";

// Navbar Styles
@import "navbar";

// Nav Bar
body { padding-top: 55px; }

// Typography
h1 {
	font-family: $sym-font-thin;
}